@import "../../node_modules/bootstrap/dist/css/bootstrap.css";

body {
    padding: 10px;
}

.form-addItems{
    display : grid;
    grid-template-columns: 70% 30%;
}

.grid-form-group{
    display : grid;
    grid-row-gap: 10px;
}