<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>TODO List</title>
    <link rel="stylesheet" href="addItemsComponent.css" />
</head>

<body>
    <form class="form-group form-addItems" action="">
        <div>
            <div class="form-group">
                <input type="text" id="item" class="form-control" palceholder="add Item" autofocus>
            </div>
            <button type="submit" class="btn btn-outline-dark">Item</button>
        </div>
    </form>
</body>

</html>