<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>TODO List</title>
    <link rel="stylesheet" href="addItemsComponent.css" />
</head>

<body>
    <form class="form-group form-addItems">
        <div>
            <div class="form-group grid-form-group">
                <input type="text" id="title" class="form-control" placeholder="add Item" />
                <input type="text" id="description" class="form-control" placeholder="add Description" />
            </div>
            <button type="submit" class="btn btn-outline-dark" >Submit</button>
        </div>
    </form>

    
    <script src="addItemsComponent-renderer.js"></script>
</body>

</html>