<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>TODO List</title>
  <link rel="stylesheet" href="listCategoryComponent.css" />
</head>

<body>
  <div class="container">
    <h3 class="header">E-App Categories : </h3>
    <!-- <ul></ul> -->
    <!-- div-cekogha-index-items-list -->
    <!-- <div id=""> -->
    <div id="list-items" class="grid-card-index">
      
        <!-- 1 -->
      <div class="card">
        <div class="card-image">
          <img src="assets/img_category_work_01.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content card-content-index">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
            markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>

      <!-- 2 -->
      <div class="card">
        <div class="card-image">
          <img src="assets/img_category_work_01.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
            markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>

      <!-- 3 -->
      <div class="card">
        <div class="card-image">
          <img src="assets/img_category_work_01.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content card-content-index">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
            markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    
      <!-- 3 -->
      <div class="card">
          <div class="card-image">
            <img src="assets/img_category_work_01.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content  card-content-index">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
              markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      
      <!-- 3 -->
      <div class="card">
          <div class="card-image">
            <img src="assets/img_category_work_01.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content card-content-index">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
              markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>

      </div>
  </div>
  <script src="listCategoryComponent-renderer.js"></script>
</body>

</html>